{% extends "base.html" %}
{% block header %}HosPortal Signup{% endblock %}
{% block content %}
<form style= "text-align: center;" action="#" method="post">
  <label style= "text-align: left; font-size: 120%" for="UserName">User name:</label><br>
  <input type="text" id="UserName" name="UserName" placeholder="UserName" required><br>
  <label style= "text-align: left; font-size: 120%" for="Email">Email:</label><br>
  <input type="text" id="Email" name="Email" placeholder="enter Email" required><br><br>
  <label style= "text-align: left; font-size: 120%" for="Password">Password:</label><br>
  <input type="Password" id="Password" name="Password" placeholder="enter Password" required><br><br>
  <input type="radio" id="Doctor" name="type" value="Doctor">
  <label for="Doctor">Doctor</label><br>
  <input type="radio" id="Patient" name="type" value="Patient">
  <label for="Patient">Patient</label><br>
  <input style="font-size: large" type="submit" value="Sign-up">

  <p style="font-size: x-small"><a href="login" target="_self">Already have an account?</a> </p>
</form>
{% endblock %}